@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheWorkFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheWorkFlow.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminLte-3.2/dist/css/adminlte.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminLte-3.2/plugins/toastr/toastr.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheWorkFlow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="File">File</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav d-flex justify-content-end">
                                    <li class="nav-item">
                                        <a class="btn btn-primary" asp-area="">@User.Identity.Name</a>
                                    </li>

                                    <li class="nav-item">
                                        <form id="logoutForm" class="form-inline" asp-action="Logout" asp-controller="Account" method="post" >
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                </ul>

                            }
                            else
                            {
                                <ul class="navbar-nav d-flex ">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/" asp-area="">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-page="/" asp-area="">Register</a>
                                    </li>
                                </ul>

                            }

                        }



                    </div>
           
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TheWorkFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/AdminLte-3.2/dist/js/adminlte.min.js" asp-append-version="true"></script>
    <script src="~/AdminLte-3.2/build/js/Toasts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@section Scritps
    {
    <script>
        function logout() {
            var form = document.createElement('form');
            form.method = 'post';
            form.action = '/Account/Logout'; // Replace with the appropriate logout endpoint URL

            document.body.appendChild(form);
            form.submit();
        }

    </script>
}