@model TheWorkFlow.Data.LoginViewModel

<form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="Login" asp-controller="Account">
    <div class="form-group">
        <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            @Html.DisplayNameFor(m => m.RememberMe)
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
