@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CountryMaster
@{
}
<div class="container">
    <form asp-action="create" asp-controller="Country" method="post">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Creaate Country</div>
            </div>
            <div class="card-body">
                <div class="row col-6">
                    <div class="form-group">
                        <label asp-for="CountryName">Name of Country</label>
                        <input class="form-control" asp-for="CountryName" type="text" />
                    </div>
                    <div class="form-group">
                        <button class="form-control" type="submit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </form>
</div>
