@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ActivityMaster
@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}
<div class="Container">
    <div class="card">
        <div class="card-header">
            <div class="card-title ">Create Activity</div>

        </div>
        <form asp-action="Create" asp-controller="Status">
            <div class="card-body">
                <div class="form-group">
                    <label >Activity</label>                  
                    <input class="form-control" asp-for="NameofActivity" placeholder="Activity.." asp-area="" />
                </div>
                <div class="form-group">
                    <label >Type</label>
                    <select asp-for="ActivityType" class="form-control">
                        <option value="Select">--Select--</option>
                        <option value="File">File</option>
                        <option value="HBL">HBL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >Activity</label>
                    
                    <select asp-for="Source" class="form-control">
                        <option value="Select">--Select--</option>
                        <option value="Upload">Upload</option>
                        <option value="Adhoc">Adhoc</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="">
                    @if (!string.IsNullOrEmpty(successMessage))
                    {
                        <div class="success-message" id="myMessage" data-message="@successMessage" style="color:green">
                            @successMessage
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="error-message" id="myMessage" data-message="@errorMessage" style="color:red">
                            @errorMessage
                        </div>
                    }
                </div>
            </div>
        </form>
        <div class="card-footer">
        </div>
    </div>

</div>
@section Scripts
{
    <script>
    var message = document.getElementById('myMessage').getAttribute('data-message');
         // Output: Hello, world!
        if (message == "Status is added successfully")
        {
            alert(message);
            toastr.sucess(message);
            setTimeout(function () {
                toastr.clear();
            }, 5000);
        }
        else
        {
            alert(message);
            toastr.error(message);
            setTimeout(function () {
                toastr.clear();
            }, 5000);
        }
        document.getElementById("StatusName").value = "";
        document.getElementById("StatusType").value = "--Select--";
       
    </script>
    
}
